# === 1. 忽略数据文件 ===
data/
*.npy
*.csv
# 忽略所有的 npz 文件（通常是生成的数据或缓存）
*.npz
!hardware_deployment/*.npz

# === 2. 忽略训练产物 (日志、权重、结果) ===
logs/
checkpoints/
outputs/
dairy/
*.log
*.json
*.ckpt
*.pth
*.pt

# === 3. 忽略 Python 缓存和系统文件 ===
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
.idea/
.vscode/
.sii/